<% include ../partials/header %>
<!-- Container -->
<div class="container">
    <h1 style="color: #62B6AF;" class="text-center mt-4">Welcome back, <%= user.name %>!</h1>

    <div class="container footer text-center">
        <a href="/admin/users" class="btn btn-info">Users</a>
        <a href="/admin/bins" class="btn btn-info">Bins</a>
        <a href="/dashboard" class="btn btn-info">Dashboard</a>
    </div>
</div>