<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark noselect">
  <a class="navbar-brand" href="/">
      <img src="/media/codebin-1.png" width="40" height="40" alt="" loading="lazy">
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <a class="navbar-brand" href="/">
        <h2 class="align-text-bottom" style="color: #62B6AF;">Edit Bin: <%= data.id %></h2>
      </a>
    </ul>

    <button class="btn btn-secondary mr-4">
      <h5><a class="nostyle text-center" style="color: #62B6AF;" href="#password">Password</a></h5>
    </button>

    <% if(name !== 'Anonymous') {%>
      <a href="/users/logout"><img style="width: 30px; height: 30px;" src="/media/logout.svg" loading="lazy"></a>
    <%}%>
  </div>
</nav>
<!-- Container -->
<div style="float: left;" class="mt-2 noselect">
  <form action="/edit" id="create" method="POST">
    <input id="dataID" name="dataID" hidden value="<%= data.id %>"/>
    <button id="subBtn" class="g-recaptcha btn btn-info mt-0 " style="position: absolute; float: right; right:0.2rem;"
        data-sitekey="6LcwKc8ZAAAAAGfWhYJYJUu4rhNve4s4HVRr8B-Q" 
        data-callback='onSubmit' 
        data-theme='dark'
        data-action='submit'>Save Code</button>
<textarea id="input" name="input" spellcheck="false" class="tabSupport" style="width:100vw; height: 40vmax; margin-left: 2rem; margin-top: 0.8rem;"><%for(i in data.input) {%><%= data.input[i] + String.fromCharCode(10);%><%}%></textarea>

  </form>
</div>

<section style="z-index: 1000;">
  <div class="rt-container">
    <div class="col-rt-12">
        <div class="Scriptcontent">
          <div id="password" class="overlay">
              <div class="popup bg-dark" style="height: 260px;">
                <br />
                  <h4 style="text-align:center;color: #62B6AF;">Change password</h4>
                  <h6 style="text-align:center;color: #62B6AF;">Leave blank to remove password</h6>
                  <br />
                  <a class="close" href="#">&times;</a>
                  <div class="content">
                    <form action="/share<%= path %>/updatePassword" id="authPost" method="POST" autocomplete="off">
                        <input type="password" id="password" name="password" autocomplete="off" class="btn-block text-center"></input>
                      </br>
                      <div id="btncnt" style="text-align:center;">
                        <button type="submit" class="btn btn-secondary mr-4">
                          <h5><a class="nostyle text-center" style="color: #62B6AF;">Submit</a></h5>
                        </button>
                        </br>
                      </div>
                      </br>
                    </form>
                  </div>
              </div>
          </div>	
      </div>
  </div>
</section>

<script>
  $(document).ready(function() {
    $('#create').submit(function() {
      $(this).ajaxSubmit({
        error: function(xhr) {
          status('Error: ' + xhr.status);
        },
       success: function(response) {
        console.log(response);
       }
      });
      //Very important line, it disable the page refresh.
      return false;
    });
  });
</script>