.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
textarea {
	resize: none;
}

body {
	overflow-x: hidden;
}

textarea#input {
	width: 100%;
	box-sizing: border-box;
	direction: ltr;
	display: block;
	max-width: 96%;
	line-height: 1.5;
	tab-size: 4;
}

textarea#input {
	overflow: auto;
	overflow-x: hidden;
}

textarea#input::-webkit-scrollbar-track {
	background-color: #002b36;
}

textarea#input::-webkit-scrollbar {
	cursor: pointer;
	width: 6px;
	background-color: #002b36;
}

textarea#input::-webkit-scrollbar-thumb {
	cursor: pointer;
	border-radius: 100px;
	background-color: #545454;
}
